<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>admin</title>
</head>

<body>
<div data-th-include="fragments/header :: header" class="container block-header"></div>
<div class="container">
    <a href="../admin/bookings"><h4>All bookings</h4></a>
    <a href="../admin/prices"><h4>Change prices</h4></a>
    <a href="../admin/options_prices"><h4>Change options' prices</h4></a>
    <a href="../admin/employee"><h4>Employees</h4></a>
</div>
</body>
</html>