<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>bookings</title>
</head>

<body>
<div class="container">
    <a href="/">
        <img alt="Brand" src="../../static/images/logo.png" data-th-src="@{/images/logo.png}"/>
    </a>

    <div class="form-group">
        <table class="table table-stripped">
            <tr>
                <th>Cleaning Time</th>
                <th>Customer</th>
                <th>Address</th>
                <th>Final Price</th>
            </tr>
            <!--/*@thymesVar id="allBookings" type="java.util.List<ca.tidygroup.dto.BookingDTOAdmin>"*/-->
            <tr th:each="booking: ${allBookings}">
                <td th:text="|${booking.cleaningDate} / ${booking.cleaningTime}|"></td>
                <td th:text="|${booking.firstName} ${booking.lastName}|"></td>
                <td th:text="|${booking.address}, ${booking.city}, ${booking.postcode}|"></td>
                <td th:text="|${booking.finalPrice}|"></td>
                <td>
                    <a data-th-href="@{bookings/{bId}(bId=${booking.id})}">
                        <button type="button" th:class="btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>