<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>bookings</title>
</head>

<body>
<div class="container">
    <a href="/">
        <img alt="Brand" src="../../static/images/logo.png" data-th-src="@{/images/logo.png}"/>
    </a>
    <a data-th-href="@{/admin/}"><h4>Main admin menu</h4></a>

    <div class="form-group">
        <table class="table table-stripped">
            <tr>
                <th>Cleaning Time</th>
                <th>Customer</th>
                <th>Address</th>
                <th>Final Price</th>
                <th>Payment</th>
                <th>Status</th>
                <th>Options</th>
            </tr>
            <!--/*@thymesVar id="allBookings" type="java.util.List<ca.tidygroup.dto.BookingDTOAdmin>"*/-->
            <tr th:each="booking: ${allBookings}">
                <td th:text="|${booking.cleaningDate} / ${booking.cleaningTime}|"></td>
                <td th:text="|${booking.firstName} ${booking.lastName}|"></td>
                <td th:text="|${booking.address}, apt ${booking.aptNumber}|"></td>
                <td th:text="|${booking.finalPrice}|"></td>
                <td th:text="|${booking.paymentMethod}|"></td>
                <td data-th-text="${booking.status}"></td>
                <td>
                    <a data-th-href="@{bookings/{bId}(bId=${booking.id})}">
                        <button class="btn-info form-control">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </a>

                    <!--/*@thymesVar id="Status" type="ca.tidygroup.model.Status"*/-->
                        <a data-th-if="${booking.status != T(ca.tidygroup.model.Status).BILLING_SUCCESS}">
                            <form method="post" data-th-action="@{/admin/booking/{bid}/cancel(bid=${booking.id})}"
                                  data-th-object="${booking}">
                                <button type="submit" class="btn-info form-control">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </form>
                        </a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>