<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>customer</title>
</head>
<body>
<div class="container">
    <a href="/">
        <img alt="Brand" src="../../static/images/logo.png" data-th-src="@{/images/logo.png}"/>
    </a>
    <!--/*@thymesVar id="allCustomers" type="java.util.List<ca.tidygroup.dto.CustomerDTO>"*/-->
    <table class="table table-stripped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Addresses</th>
        </tr>
        <tr th:each="customer : ${allCustomers}">
            <td data-th-text="${customer.firstName}"></td>
            <td data-th-text="${customer.lastName}"></td>
            <td data-th-text="${customer.email}"></td>
            <td data-th-text="${customer.phoneNumber}"></td>
            <td data-th-text="${customer.addresses}"></td>
        </tr>
    </table>
</div>
</body>
</html>