<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>employee</title>
</head>
<body>
<div class="container">
    <a href="/">
        <img alt="Brand" src="../../static/images/logo.png" data-th-src="@{/images/logo.png}"/>
    </a>
    <!--/*@thymesVar id="allEmployees" type="java.util.List<ca.tidygroup.dto.EmployeeDTO>"*/-->
    <table class="table table-stripped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Rate</th>
        </tr>
        <tr th:each="employee : ${allEmployees}">
            <td data-th-text="${employee.firstName}"></td>
            <td data-th-text="${employee.lastName}"></td>
            <td data-th-text="${employee.email}"></td>
            <td data-th-text="${employee.phoneNumber}"></td>
            <td data-th-text="${employee.rate}"></td>
            <td>
                <a data-th-href="@{employee/{eId}(eId=${employee.id})}">
                    <button type="button" th:class="btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </a>
            </td>
            <td>
                <form method="post" data-th-action="@{/admin/employee/{eid}/delete(eid=${employee.id})}"
                      data-th-object="${employee}">
                    <button type="submit" th:class="btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </td>
        </tr>
    </table>

    <a data-th-href="@{/admin/employee/add}">
        <button th:class="btn-info">add employee</button>
    </a>
</div>
</body>
</html>