<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head data-th-include="fragments/head :: head">
    <title>User's space</title>
</head>
<body>
<div data-th-include="fragments/header :: header" class="container block-header"></div>
<div class="container">
    <h4 th:text="|Hello ${#httpServletRequest.remoteUser}|">text</h4>
    <h5>Your bookings:</h5>
    <!--/*@thymesVar id="bookings" type="java.util.List<ca.tidygroup.model.Booking>"*/-->
    <th:block th:each="booking : ${bookings}">
        Rooms: <span th:text="${booking.numberOfRooms}"></span><br/>
        Bathrooms: <span th:text="${booking.numberOfBathrooms}"></span><br/>
        Status: <span th:text="${booking.status}"></span><br/>
        Scheduled Time: <span th:text="${booking.cleaningTime}"></span><br/>
        Price: <span th:text="${booking.price}"></span><br/>
        <hr/>
    </th:block>
</div>
<div class="container">
    <h5>Your cards info</h5>
    <!--/*@thymesVar id="cards" type="java.util.List<com.squareup.connect.models.Card>"*/-->
    <th:block th:each="card : ${cards}">
        Brand: <span th:text="${card.cardBrand}"></span><br/>
        Last 4 digits: <span th:text="${card.last4}"></span><br/>
        Expiration month: <span th:text="${card.expMonth}"></span><br/>
        Expiration year: <span th:text="${card.expYear}"></span><br/>
        <hr/>
    </th:block>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>