<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>links</title>

    <link rel="stylesheet/less" type="text/css" href="../../static/less/style.less" data-th-href="@{/less/style.less}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"
            type="text/javascript"></script>

</head>
<body>
<div data-th-fragment="advantage" class="block-advantage container-fluid">

    <div class="container advantage_mobile visible-xs-block visible-sm-block">
        <h3>TIDY ADVANTAGE</h3>
        <div class="row">
            <div class="img col-xs-3">
                <img data-th-src="@{/images/advant_on_demand.png}"
                     src="../../static/images/advant_on_demand.png"/>
            </div>
            <div class="col-xs-9">
                <h5>On-demand services</h5>
            </div>
        </div>
        <div class="row">
            <h6>We provide same-day service so you can always get tidy, even at a moment's notice.</h6>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img data-th-src="@{/images/advant_flexible.png}"
                     src="../../static/images/advant_flexible.png"/>
            </div>
            <div class="col-xs-9">
                <h5>Flexible scheduling</h5>
            </div>
        </div>
        <div class="row">
            <h6>We work with your schedule, not the other way around, so you’ll have more time to enjoy the
                things that matter.</h6>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img data-th-src="@{/images/advant_teams.png}" src="../../static/images/advant_teams.png"/>
            </div>
            <div class="col-xs-9">
                <h5>Professional teams</h5>
            </div>
        </div>
        <div class="row">
            <h6>We employ only the top professionals in the field and take them through a rigorous screening
                to ensure that they are the right ones for you.</h6>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img data-th-src="@{/images/advant_transparent.png}"
                     src="../../static/images/advant_transparent.png"/>
            </div>
            <div class="col-xs-9">
                <h5>Transparent pricing</h5>
            </div>
        </div>
        <div class="row">
            <h6>No more convoluted pricing schemes or uncertain estimates –we’ve made our pricing as
                transparent as possible.</h6>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img data-th-src="@{/images/advan_happiness.png}"
                     src="../../static/images/advan_happiness.png"/>
            </div>
            <div class="col-xs-9">
                <h5>Happiness guarantee</h5>
            </div>
        </div>
        <div class="row">
            <h6>Your happiness is important to us. If you’re not completely satisfied with our service,
                we’ll send someone over to finish the job exactly the way you like.</h6>
        </div>
    </div>

    <div class="container visible-lg-block visible-md-block">
        <h3>TIDY ADVANTAGE</h3>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="img col-sm-2">
                        <img data-th-src="@{/images/advant_on_demand.png}"
                             src="../../static/images/advant_on_demand.png"/>
                    </div>
                    <div class="col-md-10">
                        <h5>On-demand services</h5>
                        <h6>We provide same-day service so you can always get tidy, even at a moment's notice.</h6>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        <img data-th-src="@{/images/advant_flexible.png}"
                             src="../../static/images/advant_flexible.png"/>
                    </div>
                    <div class="col-md-10">
                        <h5>Flexible scheduling</h5>
                        <h6>We work with your schedule, not the other way around, so you’ll have more time to enjoy
                            the
                            things that matter.</h6>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        <img data-th-src="@{/images/advant_teams.png}" src="../../static/images/advant_teams.png"/>
                    </div>
                    <div class="col-md-10">
                        <h5>Professional teams</h5>
                        <h6>We employ only the top professionals in the field and take them through a rigorous
                            screening
                            to
                            ensure that they are the right ones for you.</h6>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        <img data-th-src="@{/images/advant_transparent.png}"
                             src="../../static/images/advant_transparent.png"/>
                    </div>
                    <div class="col-md-10">
                        <h5>Transparent pricing</h5>
                        <h6>No more convoluted pricing schemes or uncertain estimates –we’ve made our pricing as
                            transparent
                            as possible.</h6>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        <img data-th-src="@{/images/advan_happiness.png}"
                             src="../../static/images/advan_happiness.png"/>
                    </div>
                    <div class="col-md-10">
                        <h5>Happiness guarantee</h5>
                        <h6>Your happiness is important to us. If you’re not completely satisfied with our service,
                            we’ll
                            send someone over to finish the job exactly the way you like.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>