<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>links</title>

    <link rel="stylesheet/less" type="text/css" href="../../static/less/style.less" data-th-href="@{/less/style.less}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"
            type="text/javascript"></script>

</head>
<body>
<div data-th-fragment="book_form" class="block-book_form container">
    <!--/*@thymesVar id="discount" type="ca.tidygroup.model.Discount"*/-->
    <form id="discountForm" th:action="@{/applyActivationCode}" method="post" data-th-object="${discount}"></form>
    <!--/*@thymesVar id="booking" type="ca.tidygroup.dto.BookingForm"*/-->
    <form id="bookingForm" th:action="@{/book}" method="post" data-th-object="${booking}">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">Cleaning plan</span>
                            <select class="form-control" data-th-field="*{cleaningPlan}" form="bookingForm">
                                <!--/*@thymesVar id="allPlans" type="java.util.List<ca.tidygroup.model.CleaningPlan>"*/-->
                                <th:block th:each="plan : ${allPlans}">
                                    <option data-th-id="${{plan}}" data-th-value="${{plan}}"
                                            data-th-text="${plan.name}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">Number of bedrooms</span>
                            <select class="form-control" data-th-field="*{numberOfRooms}" form="bookingForm">
                                <!--/*@thymesVar id="allBedrooms" type="java.util.List<java.lang.Integer>"*/-->
                                <th:block th:each="numberOfBedroom : ${allBedrooms}">
                                    <option data-th-id="${{numberOfBedroom}}" data-th-value="${{numberOfBedroom}}"
                                            data-th-text="${numberOfBedroom}"></option>
                                </th:block>
                            </select>
                            <span class="help-block" data-th-errors="*{numberOfRooms}">error</span>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon">Number of bathrooms</span>
                            <select class="form-control" data-th-field="*{numberOfBathrooms}" form="bookingForm">
                                <option value="1">1 bathroom</option>
                            </select>
                            <span class="help-block" data-th-errors="*{numberOfBathrooms}">error</span>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <span class="input-group-addon">Extra services</span>
                        <div class="row extraOptions">
                            <!-- list is populated by js -->
                        </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Special request</span>
                    <input class="form-control" type="text" data-th-field="*{specialRequest}" form="bookingForm"/>
                    <span class="help-block" data-th-errors="*{specialRequest}">error</span>
                </div>
                <br/>
                <div th:class="row">
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">Address</span>
                            <input class="form-control" type="text" data-th-field="*{address}" form="bookingForm"
                                   required="required"/>
                            <span class="help-block" data-th-errors="*{address}">error</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Apt. Number</span>
                            <input class="form-control" type="text" data-th-field="*{aptNumber}"
                                   placeholder="Apt. Number"
                                   form="bookingForm"/>
                            <span class="help-block" data-th-errors="*{aptNumber}">error</span>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="input-group">
                    <span class="input-group-addon">How do we get in?</span>
                    <select id="getInType" class="form-control">
                        <option selected="selected" value="home">Someone is home</option>
                        <option value="concierge">Concierge</option>
                        <option value="other">Other</option>
                    </select>
                    <span class="help-block" data-th-errors="*{getInNotes}">error</span>
                    <textarea id="getInOther" class="form-control" style="display: none;"></textarea>
                    <input id="getInToSend" type="hidden" data-th-field="*{getInNotes}"/>
                </div>

                <br/>

                <div class="form-inline row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">Date of cleaning</span>
                            <input type="hidden" data-th-field="*{cleaningDate}" form="bookingForm"/>
                            <div id="datepicker"></div>
                            <span class="help-block" data-th-errors="*{cleaningDate}">error</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">Time of cleaning</span>
                            <select class="form-control" data-th-field="*{cleaningTime}" form="bookingForm"
                                    required="required">
                                <!-- options populated by js -->
                            </select>
                            <span class="help-block" data-th-errors="*{cleaningTime}">error</span>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div th:if="${booking.discount == null}">
                        <div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon">Discount</span>
                                <input class="form-control" type="text" form="discountForm"
                                       data-th-field="${discount.code}"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="submit" form="discountForm"/>
                            <span class="help-block" data-th-errors="${discount.code}">error</span>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">First name</span>
                        <input class="form-control" type="text" data-th-field="*{firstName}"
                               required="required" form="bookingForm" placeholder="First name"/>
                        <span class="help-block" data-th-errors="*{firstName}">error</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Last name</span>
                        <input class="form-control" type="text" data-th-field="*{lastName}"
                               required="required" form="bookingForm" placeholder="Last name"/>
                        <span class="help-block" data-th-errors="*{lastName}">error</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        <input class="form-control" type="text" data-th-field="*{email}"
                               required="required" form="bookingForm" placeholder="Email"/>
                        <span class="help-block" data-th-errors="*{email}">error</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Phone</span>
                        <input class="form-control" type="text" data-th-field="*{phone}"
                               required="required" form="bookingForm" placeholder="Phone"/>
                        <span class="help-block" data-th-errors="*{phone}">error</span>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <!-- Billing info -->
                    <div id="gr-sq-card-number" class="input-group">
                        <span class="input-group-addon">Card Number</span>
                        <div id="sq-card-number"></div>
                    </div>
                    <div id="gr-sq-cvv" class="input-group">
                        <span class="input-group-addon">CVV</span>
                        <div id="sq-cvv"></div>
                    </div>
                    <div id="gr-sq-expiration-date" class="input-group">
                        <span class="input-group-addon">Expiration Date</span>
                        <div id="sq-expiration-date"></div>
                    </div>
                    <div id="gr-sq-postal-code" class="input-group">
                        <span class="input-group-addon">Postal Code</span>
                        <div id="sq-postal-code"></div>
                    </div>
                    <input type="hidden" id="card-nonce" name="nonce"/>
                    <br/>
                    <div id="sq-errors" class="alert alert-danger" role="alert" style="display: none;">
                        <!-- handled by javascript -->
                    </div>
                </div>

                <br/>
                <input type="hidden" form="bookingForm" data-th-field="*{price}"/>
                <input class="form-control" type="submit" onclick="requestCardNonce(event)" form="bookingForm"/>
            </div>
            <div class="col-md-3">
                <h4>BOOKING SUMMARY</h4>
                <div class="form-group row">
                    <label class="control-label col-md-6">SUB-TOTAL</label>
                    <span class="booking-price price col-md-6"></span>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-6 ">SALES TAX</label>
                    <span class="booking-price-tax price col-md-6"></span>
                </div>
                <div class="form-group row" th:if="${booking.discount != null}">
                    <label class="control-label col-md-6">DISCOUNT</label>
                    <span class="booking-discount price col-md-6" data-th-text="${booking.discount} + '%'"
                          th:attr="data-discount=${booking.discount}">0</span>
                    <input type="hidden" data-th-field="${booking.discount}" form="bookingForm"/>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-6">TOTAL</label>
                    <span class="booking-price-total price col-md-6"></span>
                </div>
            </div>
        </div>
    </form>

    <!--/*@thymesVar id="googleApiKey" type="java.lang.String"*/-->
    <script type="text/javascript"
            data-th-src="@{https://maps.googleapis.com/maps/api/js(key=${googleApiKey},libraries='places')}"></script>

    <!-- jQuery UI for calendar -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript">
        /*<![CDATA[*/
        $(function () {

            $('#address').on('change', function () {
                $('input#address').parent('div.form-group').removeClass('has-error');
            });

            var autocomplete = new google.maps.places.Autocomplete((document.getElementById('address')),
                {types: ['address'], componentRestrictions: {country: 'ca'}});

            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                console.log(place.formatted_address);

                $.each(place.address_components, function (idx, item) {
                    if (item.types[0] === 'locality' && item.long_name !== 'Vancouver') {
                        $('input#address').parent('div.form-group').addClass('has-error');
                        alert("Sorry, we are not there yet!");
                    }
                });
            });
        });
        /*]]>*/
    </script>

    <!-- UI for "How we get in?" -->
    <script>
        function handleUpdateValues() {
            var $option = $('select#getInType > option:selected');
            var $textarea = $('#getInOther');
            var $input = $('#getInToSend');
            if ($option.val() === 'other') {
                $textarea.show();
                $input.val($textarea.val());
            } else {
                $textarea.hide();
                $input.val($option.text());
            }
        }

        $(function() {
            handleUpdateValues();

            $('select#getInType').on('change', handleUpdateValues);

            $('#getInOther').on('change', function() {
                var $textarea = $('#getInOther');
                var $input = $('#getInToSend');
                $input.val($textarea.val());
            });
        });
    </script>

    <script src="../../static/js/booking.js" data-th-src="@{/js/booking.js}" type="text/javascript"></script>
</div>

</body>
</html>