<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>careers_content</title>

    <link rel="stylesheet/less" type="text/css" href="../../static/less/style.less" data-th-href="@{/less/style.less}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"
            type="text/javascript"></script>

</head>
<body>
<div data-th-fragment="careers_content" class="block-careers_content container">
    <div class="row position">
        <h5>The position is part-time to start, but will become a full-time opportunity for the right fit. We offer
            competitive wages, performance-based bonuses and room to grow professionally.</h5>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>Duties and Responsibilities</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>Perform residential cleanings in and around downtown Vancouver.</h6>
            <h6>Document activities on customer and company cleaning checklists.</h6>
            <h6>Handle special requests for customers as required.</h6>
            <h6>Arrive to client location at scheduled time, perform services to established standards, and conduct
                Quality Assessment Checks.</h6>
            <h6>Comply with all safety policies and procedures relating to performance of tasks, use of products or
                supplies and incident reporting.</h6>
            <h6>Physical demands include walking and standing, climbing, bending, kneeling to clean floors by hand,
                pushing and pulling objects, lifting and moving objects (including a 20 lb vacuum), repetitive bending
                and lifting, and repetitive arm movements.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>Skills and Competencies</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>Punctuality and attention to detail.</h6>
            <h6>Friendly and professional – able to deal with customers when they are on-site while cleaning is being
                performed.</h6>
            <h6>Team player – ability to work within a team where members depend on each other to get work done.</h6>
            <h6>Proactive problem solver - able to identify work that needs to be done and do it without being
                instructed to do so.</h6>
            <h6>Desire to learn, seek new challenges, and take on additional responsibilities.</h6>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>Education, Certifications and/or Experience</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>At least 3 years of experience in the hospitality or service industry, experience working in upscale
                hotels is beneficial.</h6>
            <h6>Must have own vehicle, mileage will be reimbursed.</h6>
            <h6>Must be able to pass a Criminal Record Check.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>Language Skills</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>Ability to speak English and relay information between the team, customers and office staff.</h6>
        </div>
    </div>
    <div class="row contact text-center">
        <div class="col-md-7 col-md-offset-3">
            <span>Please submit your resume along with a brief outline of your professional experience to</span>
            <a href="#"><span class="mail">inquiries@tidygroup.ca</span></a>
        </div>
    </div>
</div>
</body>
</html>