<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>makes_tidy</title>

    <link rel="stylesheet/less" type="text/css" href="../../static/less/style.less" data-th-href="@{/less/style.less}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"
            type="text/javascript"></script>

</head>
<body>
<div data-th-fragment="faq_content" class="block-faq_content container">
    <div class="row questions_search">
        <div class="col-md-11">
            <h5>FREQUENTLY ASKED QUESTIONS</h5>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-11">
            <a data-toggle="collapse" data-target="#collapse1"><h5>What makes you different from other cleaning
                companies?</h5></a>
            <div id="collapse1" class="collapse">
                <h6>TidyGroup was created by busy urban professionals for busy urban
                    professionals. We understand your struggle: juggling work, family, and a fulfilling lifestyle
                    has never been harder and cleaning your home shouldn’t have to take up all your free time. With
                    that in mind, we created a service that would not only get your home in pristine shape, but also
                    give you back the time to enjoy the things that actually matter.</h6>
            </div>
        </div>
        <div class="col-md-1">
            <span data-toggle="collapse" data-target="#collapse1" class="glyphicon glyphicon-menu-up"
                  aria-hidden="true"></span>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-11">
            <a data-toggle="collapse" data-target="#collapse2"><h5>What kinds of services do you offer?</h5></a>
            <div id="collapse2" class="collapse">
                <h6>TidyVancouver offers the following cleaning services:<br/><br/>
                 Standard Cleaning<br/>
                 Deep Cleaning<br/>
                End of Lease Cleaning<br/>
                Same-Day Cleaning</h6>
            </div>
        </div>
        <div class="col-md-1">
            <span data-toggle="collapse" data-target="#collapse2" class="glyphicon glyphicon-menu-up"
                  aria-hidden="true"></span>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-11">
            <a data-toggle="collapse" data-target="#collapse3"><h5>What is included in the Standard Cleaning?</h5></a>
            <div id="collapse3" class="collapse">
                <h6>During a standard cleaning, we follow a thorough checklist that covers the kitchen, living room and
                    any other rooms you specified during your booking.<br/><br/>
                    For more information, check our <a href="../services">services page..</a></h6>
            </div>
        </div>
        <div class="col-md-1">
            <span data-toggle="collapse" data-target="#collapse3" class="glyphicon glyphicon-menu-up"
                  aria-hidden="true"></span>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-11">
            <a data-toggle="collapse" data-target="#collapse4"><h5>What's included in the Deep Cleaning?</h5></a>
            <div id="collapse4" class="collapse">
                <h6>The Deep Cleaning package uncludes our standard cleaning plus additional services. We will clean the
                    baseboards, window ledges and blinds, doors, and all small fixtures, such as light switches and
                    thermostats. We will also clean the bathtub and/or shower stall.</h6>
            </div>
        </div>
        <div class="col-md-1">
            <span data-toggle="collapse" data-target="#collapse4" class="glyphicon glyphicon-menu-up"
                  aria-hidden="true"></span>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-11">
            <a data-toggle="collapse" data-target="#collapse5"><h5>What is included in the End of Lease Cleaning?</h5>
            </a>
            <div id="collapse5" class="collapse">
                <h6>We know that moving can be a very stressful experience and the goal of our End of Lease Package is
                    to take out the mess (and the stress!). We work with a host of property managers and real estate
                    agents, and as a result we have a deep understanding of their cleaning expectations. TidyVancouver
                    knows exactly what is expected and does it; if it’s not up to standards, fear not – we go back at no
                    expense to you!<br/><br/>
                    Our cleaners use a comprehensive Quality Assurance Check on completion of every End of Lease
                    Cleaning to ensure it matches the standard requirements of your property manager or landlord. We
                    will also generate and send your agent a report so they have, on record, confirmation that the
                    property was cleaned according to their standard.<br/><br/>
                    If at any stage we have not cleaned to the expectations of the property manager or landlord, don’t
                    worry — we will return within 24 hours to fix the situation, at no additional cost to you!<br/><br/>
                    For more information, check our <a href="../services">services page</a></h6>
            </div>
        </div>
        <div class="col-md-1">
            <span data-toggle="collapse" data-target="#collapse5" class="glyphicon glyphicon-menu-up"
                  aria-hidden="true"></span>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-11">
            <a data-toggle="collapse" data-target="#collapse6"><h5>Is there anything you won’t do?</h5></a>
            <div id="collapse6" class="collapse">
                <h6>For safety reasons, we cannot offer the following services:<br/><br/>
                    Cleaning of ceilings and/or any other surfaces outside of normal reach<br/>
                    Cleaning of deep stains and heavy pet messes<br/>
                    Mold removal<br/>
                    Building material/rubbish removal<br/>
                    Steam cleaning and/or carpet cleaning<br/>
                    Lifting of heavy items, such as furniture<br/>
                    Cleaning of exteriors, including walls and windows<br/>
                    Moving furniture that has delicate valuables on it (like dining room/lounge display tables)</h6>
            </div>
        </div>
        <div class="col-md-1">
            <span data-toggle="collapse" data-target="#collapse6" class="glyphicon glyphicon-menu-up"
                  aria-hidden="true"></span>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-11">
            <a data-toggle="collapse" data-target="#collapse7"><h5>How does your pricing work?</h5></a>
            <div id="collapse7" class="collapse">
                <h6>TWe have a fixed rate that’s based on the size of your home and (if applicable) the extra services
                    you requested. You don’t pay by the hour.</h6>
            </div>
        </div>
        <div class="col-md-1">
            <span data-toggle="collapse" data-target="#collapse7" class="glyphicon glyphicon-menu-up"
                  aria-hidden="true"></span>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-11">
            <a data-toggle="collapse" data-target="#collapse8"><h5>How do you select your cleaners?</h5></a>
            <div id="collapse8" class="collapse">
                <!--<h6>Our cleaners are the face (and hands!) of the company, we carefully screen and train them so they-->
                    <!--share the same standards, provide the highest level of service and create the Tidy experience we-->
                    <!--promise to our customers. We would never send a cleaner we wouldn’t trust in our own homes!<br/><br/>-->
                    <!--Here are a few reasons you can trust our employees to be the best cleaners in Vancouver:<br><br/>-->
                    <!--Professional<br/><br/>-->
                    <!--Before our cleaners start with TidyGroup, they generally have years of experience in the hospitality-->
                    <!--industry, working at some of the finest hotels in the world. We believe that working with-->
                    <!--professionals is key to great customer service and we hire with that in mind.<br/><br/>-->
                    <!--Tested<br/><br/>-->
                    <!--TidyGroup has periodical Onsite Quality Assurance Checks where a trained member of our staff goes-->
                    <!--onsite to ensure the cleaner is doing all the right things according to the “Tidy Way”.<br/><br/>-->
                    <!--Customer Approved<br/><br/>-->
                    <!--We review all employees against customer feedback – your satisfaction is paramount to us! Rest-->
                    <!--assured, we take every step to give you quality, safety and peace of mind.</h6>-->
            </div>
        </div>
        <div class="col-md-1">
            <span data-toggle="collapse" data-target="#collapse8" class="glyphicon glyphicon-menu-up"
                  aria-hidden="true"></span>
        </div>
    </div>
</div>
</body>
</html>