<!DOCTYPE html>
<html lang="en">
<head data-th-fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="theme-color" content="#1AB0B7"/>
    <!--<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>-->

    <!--<meta name="description"-->
          <!--content="Make more you time with Vancouver's Top Condo Cleaning Experts! We offer multiple maid services that will get you Tidy! Enjoy your new clean home."/>-->
    <meta name="keywords" content="tidy, vancouver, cleaning, condo, maid, end of lease, "/>
    <!--<meta name="robots" content="index"/> &lt;!&ndash; TODO Do we need it for each page? &ndash;&gt;-->

    <title>Tidy Vancouver - Vancouver's Top Condo Cleaning Experts</title>

    <link rel="shortcut icon" href="/images/shortcut.png" type="image/png"/>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" type="image/png"/>

    <link rel="preconnect" href="//fonts.googleapis.com"/>
    <!--<link rel="stylesheet/less" type="text/css" href="../static/less/style.less" data-th-href="@{/less/style.less}"/>-->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"-->
    <!--type="text/javascript"></script>-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" data-th-href="@{/css/style.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.1.1.min.js" data-th-src="@{/js/jquery-3.1.1.min.js}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/bootstrap.min.js" data-th-src="@{/js/bootstrap.min.js}"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
            <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
            <!--crossorigin="anonymous"></script>-->
</head>
<body>

</body>
</html>