<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>links</title>

    <link rel="stylesheet/less" type="text/css" href="../../static/less/style.less" data-th-href="@{/less/style.less}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"
            type="text/javascript"></script>

</head>
<body>
<div data-th-fragment="links" class="block-links container-fluid">
    <div class="container text-center">
        <hr class="line"/>
        <div class="row">
            <a href="#">Tidy Advantage</a>
            <span>|</span>
            <a href="../services.html">Services</a>
            <span>|</span>
            <a href="../faq.html">FAQ</a>
            <span>|</span>
            <a href="../careers.html">Careers</a>
            <span>|</span>
            <a href="#">Privacy Terms</a>
        </div>
        <hr class="line"/>
        <div class="row">
            Tidy Group
            <span class="slash">|</span>
            (+1) 778-232-8254
            <span>|</span>
            <a href="#">Contact Us</a>
        </div>
    </div>
</div>
</body>
</html>