<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>makes_tidy</title>

    <link rel="stylesheet/less" type="text/css" href="../../static/less/style.less" data-th-href="@{/less/style.less}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"
            type="text/javascript"></script>

</head>
<body>
<div data-th-fragment="makes_tidy" class="block_makes_tidy container-fluid">
    <div class="visible-xs-block visible-sm-block">
        <div class="makes_tidy_header row">
            <div class="col-xs-12">
                <h3>What makes us tidy?</h3>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <img class="tidy-pictures" data-th-src="@{/images/tidy_community.png}"
                         src="../../static/images/tidy_community.png"/>
                </div>
                <div class="col-xs-9">
                    <h5>We Love Our Community</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h6>We live where we work and we take pride in giving back to our community</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <img class="tidy-pictures" data-th-src="@{/images/tidy_security.png}"
                         src="../../static/images/tidy_security.png"/>
                </div>
                <div class="col-xs-9">
                    <h5>We Are Secure</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h6>All our employees are bonded and carry $5 million liability insurance, so you can have peace of
                        mind knowing that your home is in good hands</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <img class="tidy-pictures" data-th-src="@{/images/tidy_green.png}"
                         src="../../static/images/tidy_green.png"/>
                </div>
                <div class="col-xs-9">
                    <h5>We Are Green</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h6>We love our planet as much as we love our clients. We only use green products that won’t harm
                        you or your loved ones.</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <img class="tidy-pictures" data-th-src="@{/images/tidy_pets.png}"
                         src="../../static/images/tidy_pets.png"/>
                </div>
                <div class="col-xs-9">
                    <h5>We Love Pets</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h6>But we know how they can be. That’s why our cleaning is geared to pet-friendly homes.</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <img class="tidy-pictures" data-th-src="@{/images/tidy_listerners.png}"
                         src="../../static/images/tidy_listerners.png"/>
                </div>
                <div class="col-xs-9">
                    <h5>We Are Good Listeners</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h6>If you want something done a certain way, just let us know at the time of
                        booking and we will make sure that it is done exactly the way you like it.</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <img class="tidy-pictures" data-th-src="@{/images/tidy_time.png}"
                         src="../../static/images/tidy_time.png"/>
                </div>
                <div class="col-xs-9">
                    <h5>We Value Your Time</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h6>We always strive to be right on time, but life happens. If we are running
                        behind schedule,we will contact you and make new arrangements.</h6>
                </div>
            </div>
        </div>
    </div>


    <div class="container visible-lg-block visible-md-block">
        <svg xmlns="http://www.w3.org/2000/svg" class="ribbon" viewBox="0 0 980 114">
            <polygon class="ribbon-side" points="0,14 30,63 0,113 70,113 70,14"></polygon>
            <polygon class="ribbon-shadow" points="70,113 50,100 70,100"></polygon>
            <polygon class="ribbon-side" points="980,14 950,63 980,113 910,113 910,14"></polygon>
            <polygon class="ribbon-shadow" points="910,113 930,100 910,100"></polygon>
            <rect class="ribbon-bg" x="50" width="880" height="100"></rect>
            <text class="ribbon-text" x="480" y="70" text-anchor="middle">What makes us tidy?</text>
        </svg>
        <div class="container makes_tidy_mobile">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="tidy-pictures" data-th-src="@{/images/tidy_community.png}"
                                 src="../../static/images/tidy_community.png"/>
                        </div>
                        <div class="col-md-10">
                            <h5>We Love Our Community</h5>
                            <h6>We live where we work and we take pride in giving back to our community</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="tidy-pictures" data-th-src="@{/images/tidy_security.png}"
                                 src="../../static/images/tidy_security.png"/>
                        </div>
                        <div class="col-md-10">
                            <h5>We Are Secure</h5>
                            <h6>All our employees are bonded and carry $5 million liability insurance, so you
                                can
                                have
                                peace
                                of
                                mind knowing that your home is in good hands</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="tidy-pictures" data-th-src="@{/images/tidy_green.png}"
                                 src="../../static/images/tidy_green.png"/>
                        </div>
                        <div class="col-md-10">
                            <h5>We Are Green</h5>
                            <h6>We love our planet as much as we love our clients. We only use green products
                                that won’t harm you or your loved ones.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="tidy-pictures" data-th-src="@{/images/tidy_pets.png}"
                                 src="../../static/images/tidy_pets.png"/>
                        </div>
                        <div class="col-md-10">
                            <h5>We Love Pets</h5>
                            <h6>But we know how they can be. That’s why our cleaning is geared to pet-friendly
                                homes.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="tidy-pictures" data-th-src="@{/images/tidy_listerners.png}"
                                 src="../../static/images/tidy_listerners.png"/>
                        </div>
                        <div class="col-md-10">
                            <h5>We Are Good Listeners</h5>
                            <h6>If you want something done a certain way, just let us know at the time of
                                booking and we will make sure that it is done exactly the way you like it.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="tidy-pictures" data-th-src="@{/images/tidy_time.png}"
                                 src="../../static/images/tidy_time.png"/>
                        </div>
                        <div class="col-md-10">
                            <h5>We Value Your Time</h5>
                            <h6>We always strive to be right on time, but life happens. If we are running
                                behind schedule, we will contact you and make new arrangements.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>