<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>makes_tidy</title>

    <link rel="stylesheet/less" type="text/css" href="../../static/less/style.less" data-th-href="@{/less/style.less}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"
            type="text/javascript"></script>

</head>
<body>
<div data-th-fragment="standart_checklist" class="block-standart_checklist container-fluid text-center">
    <div class="container-fluid">
        <div data-th-include="fragments/ribbon :: ribbon"
             class=" visible-lg visible-md-block container-fluid ribbon-fragment"></div>
        <div class="row checklist_head visible-xs-block visible-sm-block">
            <h3>STANDARD CLEANING CHECKLIST</h3>
        </div>
        <div class="container checklist">
            <div class="col-md-4 checklist_block">
                <div class="row block-name">
                    <div class="col-xs-1">
                        <img class="name_icon" data-th-src="@{/images/all_areas_icon.png}"
                             src="../../static/images/all_areas_icon.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span>ALL AREAS</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Vacuum ! mop all floors</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Empty all garbage bins</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Wipe cupboard doors ! window sills</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean ! polish all mirrors</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Dust all accessible surfaces</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean baseboards and corners</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean light switches and door knobs</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Dust blinds and window ledges</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Wipe all interior doors</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean cabinets and drawers (inside)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean walls</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean windows (inside)</span>
                    </div>
                </div>
                <div class="row block-name visible-lg visible-md block_balcony-lg">
                    <div class="col-xs-1">
                        <img class="name_icon" data-th-src="@{/images/balcony_icon.png}"
                             src="../../static/images/balcony_icon.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span>BALCONY</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean balcony</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 checklist_block">
                <div class="row block-name">
                    <div class="col-xs-1">
                        <img class="name_icon" data-th-src="@{/images/kitchen_icon.png}"
                             src="../../static/images/kitchen_icon.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span>KITCHEN</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Wipe counter ! backsplash tiles</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Wipe kitchen cabinets (outside)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Wipe oven front ! stove top</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Disinfect ! polish all sinks ! taps</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Wipe exterior of all appliances</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Load the dishwasher</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean inside microwave</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean inside oven</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean inside fridge</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 checklist_block">
                <div class="row block-name">
                    <div class="col-xs-1">
                        <img class="name_icon" data-th-src="@{/images/bathroom_icon.png}"
                             src="../../static/images/bathroom_icon.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span>BATHROOM</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Wipe the vanity ! all sinks ! taps</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Disinfect ! clean the toilets, in and out</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Wipe the bathtub ! shower stalls</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean all chrome fixtures</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean showers and/or bathtubs</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean inside bathroom cabinets</span>
                    </div>
                </div>
                <div class="visible-lg bathroom-block_space">
                </div>
            </div>
            <div class="col-md-4 checklist_block">
                <div class="row block-name">
                    <div class="col-xs-1">
                        <img class="name_icon" data-th-src="@{/images/living_room_icon.png}"
                             src="../../static/images/living_room_icon.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span>LIVING ROOM</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Dust furniture</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Dust all electronics</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Wipe fireplace</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">General organizing</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 checklist_block">
                <div class="row block-name">
                    <div class="col-xs-1">
                        <img class="name_icon" data-th-src="@{/images/bedroom_icon.png}"
                             src="../../static/images/bedroom_icon.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span>BEDROOM</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Make beds (change linens on request)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Dust all furniture</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Dust lampshades ! picture frames</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/standart_check_box.png}"
                             src="../../static/images/standart_check_box.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">General organizing</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-lg  hidden-md block_balcony-xs">
                <div class="row block-name">
                    <div class="col-xs-1">
                        <img class="name_icon" data-th-src="@{/images/balcony_icon.png}"
                             src="../../static/images/balcony_icon.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span>BALCONY</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img class="icon" data-th-src="@{/images/close.png}"
                             src="../../static/images/close.png"/>
                    </div>
                    <div class="col-xs-10">
                        <span class="item">Clean balcony</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <h5>REMEMBER THAT YOU CAN ALWAYS ADD EXTRAS WHEN BOOKING!</h5>
        </div>
    </div>
</div>
</body>
</html>