<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>terms_header</title>

    <link rel="stylesheet/less" type="text/css" href="../../static/less/style.less" data-th-href="@{/less/style.less}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"
            type="text/javascript"></script>

</head>
<body>
<div data-th-fragment="terms_header" class="block-terms_header container-fluid">
    <div data-th-include="fragments/header :: header" class="container block-header"></div>
    <div class="container">
        <div class="row text-center">
            <h2>Terms and conditions</h2>
        </div>
    </div>
</div>
</body>
</html>