<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>careers_content</title>

    <link rel="stylesheet/less" type="text/css" href="../../static/less/style.less" data-th-href="@{/less/style.less}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"
            type="text/javascript"></script>

</head>
<body>
<div data-th-fragment="terms_content" class="block-terms_content container">
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>1. Keys / Alarms</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>Most Tidy Group Cleaning Services clients provide us with a key to their home, and we are vigilant about
                safeguarding your key. In order to protect your identity and safety, each key is assigned a coded number
                and kept in a key safe in our office. Your key will only ever be accessed by your service team on the
                day of your scheduled cleaning service and it is returned promptly to the office at day’s end.</h6>
            <h6>We do not return keys by mail or courier – we will only release keys to clients who come in personally
                to our office and show current government issued photo ID.</h6>
            <h6>While we prefer that home alarm systems be turned off on cleaning day, if it is a simple system you can
                show the service team how to operate it.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>2. Arrival Notice</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>If you would like to give your service team access to your home yourself, please understand that we can
                only give you an approximate arrival time (i.e..: 8:30 - 9:00 or 1:00 - 1:30), since many factors, such
                as additional client requests or traffic, can affect even well planned schedules. The most effective way
                to avoid this is to leave a key with Tidy Group.
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>3. What’s not included?</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>We do not clean ceilings, exterior walls and windows, outside areas (such as patios and gardens) and
                surfaces beyond normal reach. We do not steam or chemical clean your carpets.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>4. Payments</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>For your convenience, Tidy Group Cleaning Services accepts Visa, MasterCard and Amex.</h6>
            <h6>Payment for all cleaning services is due at the time of booking.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>5. Cancellation</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>If you need to cancel a cleaning and would like a refund, please notify Tidy Group Cleaning Services no
                less than 24 hours prior to your scheduled time. This allows us to service another appointment, which is
                a more efficient use of resources and helps keep your costs down. If you cancel more than 12 hours, but
                less than 24 hours before your appointment, we will offer to reschedule your appointment free of charge.
                All cancellations with less than than 12 hours’ notice will incur a $100 late cancellation fee.
                Respecting our policies for rescheduling or cancelling helps ensure you will get the best house cleaning
                service possible. Please contact the Office Manager if you have requests or concerns – this allows us to
                better address and resolve your issue. Please do not communicate these important details to the service
                team.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>6. Refunds</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>We will fully refund your payment provided the cancellation is more than 24 hours before the scheduled
                cleaning.</h6>
            <h6>For cancellations less than 24, but more than 12 hours before your scheduled appointment, we will gladly
                reschedule free of charge.</h6>
            <h6>We cannot refund or reschedule cancellations made less than 12 hours prior to scheduled cleaning.</h6>
            <h6>We do not offer refunds for gift certificate purchases.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>7. Our Happiness Guarantee</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>We stand behind our work - if you are not happy with the work, let us know within 24 hours and we will
                come out and reclean the area at no additional charge.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>8. Gratuity</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>A gratuity is not required or expected, but always appreciated. If you do choose to tip, cash is
                preferable as it will be shared equally by your cleaning team. An occasional note to the team when they
                really impress you would also be welcomed. Your cleaning team receives bonuses based on your feedback,
                so please call or drop us a note through our website.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>9. Employees</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>We value our employees and take their safety very seriously, so our policy requires that they not lift
                anything heavier than 35 lbs, nor use ladders. We do not want them to risk back injuries or damage your
                floors. If you would like cleaning done behind a refrigerator, stove, sofa or other heavy furniture,
                please have it moved prior to cleaning so your service team can access the area</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>10. Referral Job Placement Fee</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>Your Service Agreement states that you agree not to hire any past or present Home Service Team members
                that you are introduced to through Tidy Group Cleaning Services for any home-related services. If you
                wish to employ a Home Service Team member, our referral fee is $3000.00 - this is due in full
                immediately upon employing or using the past / present staff member, regardless of whether the
                employment is continuous or on a contract basis.</h6>
            <h6>Tidy Group Cleaning Services LTD. reserves the right to pursue alternate methods of collection if the
                fee is not paid.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>11. Damage / Loss Policy</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>Tidy Group is fully bonded and insured. Please notify us within 48 hours of the cleaning date and we
                will make arrangements to have the item repaired or replaced for you. All of our employees carry $5
                million liability insurance.</h6>
            <h6>Items excluded from liability are: cash, jewelry, one-of-a-kind or hard to get items, items of
                sentimental value, art, antiques and electronics.</h6>
            <h6>If your keys are lost or miscoded, key replacement costs / locksmith fees will be reimbursed by Tidy
                Group Cleaning Services.</h6>
            <h6>If any invoices remain unpaid, all rights regarding a Damage / Loss claim are waived until the
                outstanding amount is settled.</h6>
            <h6>Tidy Group Cleaning Services LTD. may consider unpaid invoices of services as a “Payment Settlement
                Agreement Exchange for Damage or Loss Claim” with the client.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 position_description">
            <h5>12. Privacy Policy</h5>
        </div>
        <div class="col-md-8 full_description">
            <h6>In order to provide quality cleaning services for your home, Tidy Group must collect, use and disclose
                information in relation to our customers. This information is personal, which is why we make the
                following commitments to our customers:</h6>
            <h6>Tidy Group will only collect the personal information necessary to provide Tidy Group customers with
                high quality residential cleaning services.</h6>
            <h6>Tidy Group does not collect, use or disclose any personal information about a customer to a third party
                without the consent of the customer, except where required by law or as authorized to do so by the
                Privacy Act.</h6>
            <h6>From time to time Tidy Group may disclose personal information about our customers to an authorized
                agent of Tidy Group, on a temporary basis in order to determine how our cleaning service is meeting
                customer needs and how we can better meet those needs.</h6>
            <h6>Tidy Group uses a password protected software program that has a database that contains personal
                information about our customers. Tidy Group also collects, in written form, personal information about a
                customer. This information is kept in a secure location with controlled access.
                Personal information about our customers, including but not limited to their name, address and telephone
                number, must be disclosed to the employees of Tidy Group to provide the cleaning service. Tidy Group
                employees have acknowledged their requirements to maintain the confidentiality of this information and
                will only use it to fulfill the requirements of their employment with Tidy Group. Personal information
                entrusted to our employees at kept confidential and secure at all times.</h6>
            <h6>Tidy Group customers are entitled to examine the personal information we have on file for them, subject
                to the restrictions provided by law. Customers may also request rectification of inaccurate or
                incomplete information. If applicable, we will disclose this information to the person concerned or
                rectify it promptly.</h6>
        </div>
    </div>
    <span>Effective April 1, 2017</span><br/>
    <span>Tidy Group Services LTD.</span>
</div>
</body>
</html>