<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>links</title>

    <link rel="stylesheet/less" type="text/css" href="../../static/less/style.less" data-th-href="@{/less/style.less}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js" data-th-src="@{/js/less.min.js}"
            type="text/javascript"></script>

</head>
<body>
<div data-th-fragment="top" class="block-top container">
    <div class="container">
        <h1>Vancouver's Top Condo Cleaning Experts</h1>
        <h4>Because life is too short to spend it cleaning</h4>
        <a class="btn btn-primary" href="#" data-th-href="@{/book}">Get Tidy</a>
    </div>
</div>
</body>
</html>