<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>book</title>
</head>

<body>
<div class="container">
    <!--/*@thymesVar id="booking" type="ca.tidygroup.dto.BookingForm"*/-->
    <form th:action="@{/book}" method="post" data-th-object="${booking}">
        <div class="form-group">
            <label class="control-label">Postcode</label>
            <input class="form-control" type="text" data-th-field="*{postCode}"/>
            <span class="help-block" data-th-errors="*{postCode}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">City</label>
            <input class="form-control" type="text" data-th-field="*{city}"/>
            <span class="help-block" data-th-errors="*{city}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">Address</label>
            <input class="form-control" type="text" data-th-field="*{address}"/>
            <span class="help-block" data-th-errors="*{address}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">First name</label>
            <input class="form-control" type="text" data-th-field="*{firstName}"/>
            <span class="help-block" data-th-errors="*{firstName}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">Last name</label>
            <input class="form-control" type="text" data-th-field="*{lastName}"/>
            <span class="help-block" data-th-errors="*{lastName}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" type="text" data-th-field="*{email}"/>
            <span class="help-block" data-th-errors="*{email}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">Phone</label>
            <input class="form-control" type="text" data-th-field="*{phone}"/>
            <span class="help-block" data-th-errors="*{phone}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">Number of bedrooms</label>
            <input class="form-control" type="text" data-th-field="*{numberOfRooms}"/>
            <span class="help-block" data-th-errors="*{numberOfRooms}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">Number of bathrooms</label>
            <input class="form-control" type="text" data-th-field="*{numberOfBathrooms}"/>
            <span class="help-block" data-th-errors="*{numberOfBathrooms}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">Special request</label>
            <input class="form-control" type="text" data-th-field="*{specialRequest}"/>
            <span class="help-block" data-th-errors="*{specialRequest}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">Discount</label>
            <input class="form-control" type="text" data-th-field="*{discount}"/>
            <span class="help-block" data-th-errors="*{discount}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">Date of cleaning</label>
            <input class="form-control" type="date" data-th-field="*{cleaningDate}"/>
            <span class="help-block" data-th-errors="*{cleaningDate}">error</span>
        </div>

        <div class="form-group">
            <label class="control-label">Time of cleaning</label>
            <input class="form-control" type="time" data-th-field="*{cleaningTime}"/>
            <span class="help-block" data-th-errors="*{cleaningTime}">error</span>
        </div>

        <input class="form-control" type="submit"/>
    </form>
</div>
</body>
</html>