<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>careers</title>
</head>

<body>
<div data-th-include="fragments/careers_header :: careers_header" class="container-fluid block-careers_header"></div>

<div data-th-include="fragments/careers_content :: careers_content" class="container block-careers_content"></div>

<div data-th-include="fragments/feedback :: feedback" class="container-fluid block-feedback text-center"></div>

<div data-th-include="fragments/links :: links" class="container-fluid block-links"></div>
</body>
</html>