<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>deep</title>
</head>

<body>
<div class="block-services_header container-fluid">
    <div data-th-include="fragments/header :: header" class="container block-header"></div>
    <div class="container">
        <h2>SERVICES THAT WE OFFER</h2>
        <div class="row services_top">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <a href="../services">
                            <button type="button" class="btn btn-choice">TIDY LITE</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="../standardcleaning">
                            <button type="button" class="btn btn-choice">STANDARD CLEANING</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="../deepcleaning">
                            <button type="button" class="btn btn-choice active">DEEP CLEANING</button>
                        </a>
                    </div>
                </div>
                <div class="service_desc">
                    <span>Tidy Deep is for when you need the big guns. We leave no stone unturned and no surface
                        untouched. Moving in or out? Listing your home for sale? Had a party?
                        We got you covered with Tidy Deep.</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="frame_price text-center">
                    <h5>STARTING FROM:</h5>
                    <span>309 CAD</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-th-include="fragments/deep_checklist :: deep_checklist " class="container-fluid block-checklist"></div>

<div data-th-include="fragments/ready_book :: ready_book" class="container block-ready_book"></div>

<div data-th-include="fragments/feedback :: feedback" class="container-fluid block-feedback text-center"></div>

<div data-th-include="fragments/links :: links" class="container-fluid block-links"></div>

</body>
</html>