<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>faq</title>
</head>

<body>
<div data-th-include="fragments/faq_header :: faq_header" class="container-fluid block-faq_header"></div>

<div data-th-include="fragments/faq_content :: faq_content" class="container block-faq_content"></div>

<div data-th-include="fragments/ready_book :: ready_book" class="container block-ready_book"></div>

<div data-th-include="fragments/feedback :: feedback" class="container-fluid block-feedback text-center"></div>

<div data-th-include="fragments/links :: links" class="container-fluid block-links"></div>

</body>
</html>