<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>main</title>
</head>

<body>

<div data-th-include="fragments/header :: header" class="container block-header"></div>

<div data-th-include="fragments/top :: top" class="container-fluid block-top"></div>

<div data-th-include="fragments/value :: value" class="container block-value"></div>

<div data-th-include="fragments/advantage :: advantage" class="container-fluid block-advantage"></div>

<div data-th-include="fragments/easy_book :: easy_book" class="container block-easy_book"></div>

<div data-th-include="fragments/makes_tidy :: makes_tidy" class="container-fluid block-makes_tidy"></div>

<div data-th-include="fragments/reviews :: reviews" class="container-fluid block-reviews"></div>

<div data-th-include="fragments/ready_book :: ready_book" class="container block-ready_book"></div>

<div data-th-include="fragments/feedback :: feedback" class="container-fluid block-feedback text-center"></div>

<div data-th-include="fragments/links :: links" class="container-fluid block-links"></div>
</body>
</html>