<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>main</title>
</head>

<body>

<div data-th-include="fragments/services_header :: services_header" class="container-fluid block-services_header"></div>

<div data-th-include="fragments/tidy_checklist :: tidy_checklist" class="container-fluide block-tidy_checklist"></div>

<div data-th-include="fragments/ready_book :: ready_book" class="container block-ready_book"></div>

<div data-th-include="fragments/feedback :: feedback" class="container-fluid block-feedback text-center"></div>

<div data-th-include="fragments/links :: links" class="container-fluid block-links"></div>

</body>
</html>