<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-include="fragments/head :: head">
    <title>thankyou</title>
</head>

<body>
<div data-th-include="fragments/header :: header" class="container block-header"></div>

<div data-th-include="fragments/thankyou_content :: thankyou_content" class="container block-thankyou_content"></div>

<div data-th-include="fragments/feedback :: feedback" class="container-fluid block-feedback text-center"></div>

<div data-th-include="fragments/links :: links" class="container-fluid block-links"></div>

</body>
</html>